In [1]:
import pandas as pd
import numpy as np
from target_statistic_encoding import Cat2Num

In [2]:
data=pd.DataFrame()
data["X1"]=np.random.choice(list('abcd'), 1000, p=(.1, .4, .3, .2))
data["X2"]=np.random.choice(list('xyz'), 1000, p=(.25, .5, .25))
data["target"]=np.random.choice((0,1), 1000, p=(.7, .3))
data["split"]=np.random.choice(("train", "test"), 1000, p=(.8, .2))

In [3]:
data.head()

  X1 X2  target  split
0  c  z       1  train
1  c  x       1   test
2  d  y       0  train
3  a  y       1  train
4  b  y       0   test

In [4]:
train=data[data.split=="train"]
test=data[data.split=="test"]

In [5]:
cat2num=Cat2Num(["X1", "X2"], "target")

In [6]:
train=cat2num.fit_transform(train, n_splits=5, credibility=.25)

In [7]:
train.head()

  X1 X2  target  split  X1_Cat2Num  X2_Cat2Num
0  c  z       1  train    0.235294    0.227273
2  d  y       0  train    0.240000    0.271605
3  a  y       1  train    0.250000    0.329412
5  d  x       0  train    0.333333    0.297297
6  c  x       1  train    0.294118    0.147059

In [8]:
cat2num.transform(test).head()

   X1 X2  target split  X1_Cat2Num  X2_Cat2Num
1   c  x       1  test    0.316235    0.289271
4   b  y       0  test    0.334771    0.344831
9   a  y       0  test    0.210860    0.344831
11  d  y       0  test    0.337625    0.344831
19  c  x       0  test    0.316235    0.289271